{% extends "base.jinja" %}
{% set day_number = 1 %}
{% set title = "UPPER (PUSH)" %}
{% block body %}
BENCH / DB PRESS            4 x 6-8
 [ ] Set 1   Wt:______  Reps:____
 [ ] Set 2   Wt:______  Reps:____
 [ ] Set 3   Wt:______  Reps:____
 [ ] Set 4   Wt:______  Reps:____

OVERHEAD PRESS              3 x 8-10
 [ ] Set 1   Wt:______  Reps:____
 [ ] Set 2   Wt:______  Reps:____
 [ ] Set 3   Wt:______  Reps:____

INCLINE DB PRESS            3 x 10-12
 [ ] Set 1   Wt:______  Reps:____
 [ ] Set 2   Wt:______  Reps:____
 [ ] Set 3   Wt:______  Reps:____

TRICEP PUSHDOWN / DIPS      3 x 10-12
 [ ] Set 1   Wt:______  Reps:____
 [ ] Set 2   Wt:______  Reps:____
 [ ] Set 3   Wt:______  Reps:____

HANGING LEG RAISES          3 x 10-15
 [ ] Set 1   Wt:______  Reps:____
 [ ] Set 2   Wt:______  Reps:____
 [ ] Set 3   Wt:______  Reps:____
{% endblock %}
