========================================
   DAY {{ day_number }} - {{ title }}
   Date: {{ date }}
========================================

{% block body %}{% endblock %}

========================================
 Beat last week: +weight or +reps
========================================
